# PRACTICE FILE FOR WORKING WITH STRING

_I created this file to practice working with string in python._

## concatination

In [7]:
first_name = "abubakar"
last_name = "danhaya"
space = ' '
full_name = first_name + space + last_name
print(full_name.title())

Abubakar Danhaya

## New line

In [9]:
print("I hope you are enjoying your life.\nAre  you?")

I hope you are enjoying your life.
Are  you?

# NEW TAB

In [12]:
print('Days\tTopics\tExercises')

print('Monday\tIntroductions\t20')
print('Tuesday\tStrings\t20')
print('Wednesday\tOperators\t20')
print('Thursday\tList\t20')
print('Friday\tDictionaries\t20')

Days	Topics	Exercises
Monday	Introductions	20
Tuesday	Strings	20
Wednesday	Operators	20
Thursday	List	20
Friday	Dictionaries	20

# WRITE IN BLACKISH SYMBOLS \\

In [16]:
print('I love my mother,\"Aisha Danhaya\"')

I love my mother,"Aisha Danhaya"

In [17]:
print('In every programming language it starts with \"Hello, World!\"')

In every programming language it starts with "Hello, World!"

In [18]:
# Strings only
first_name = 'Asabeneh'
last_name = 'Yetayeh'
language = 'Python'
formated_string = 'I am %s %s. I teach %s' %(first_name, last_name, language)
print(formated_string)

I am Asabeneh Yetayeh. I teach Python

In [2]:
surname = 'muhammad'
first_name = 'abubakar'
subject = 'mathematics'

formated_string = 'I am %s %s. I teach %s' %(first_name, surname, subject)
print(formated_string)

I am abubakar muhammad. I teach mathematics

In [6]:
player_name = "messi"
team = "FC Barcelona"
num_of_awards = "8 times"

formated_string = 'My name is %s from %s, I am the %s awards winner.' %(player_name, team, num_of_awards)
print(formated_string.title())

My Name Is Messi From Fc Barcelona, I Am The 8 Times Awards Winner.

In [11]:
pupil_name = 'adam'
school = 'al-manar academy'
age = '7'

formated_string = 'My name is {} from {} and I am {} years.' .format(pupil_name.title(), school.title(), age)
print(formated_string)

My name is Adam from Al-Manar Academy and I am 7 years.

In [12]:
print(f'my name is {pupil_name} from {school} and I am {age} years old.')

my name is adam from al-manar academy and I am 7 years old.