##WORKING WITH THE LIST

_In this jupiter file, i practice how to work and navigate with list in python programming_

In [ ]:
# list of items you want to at store
items = ["milk", "eggs", "bread", "butter"]

In [ ]:
class_Attendence = ["adam", "musa", "ibrahim", "saleh"]

In [ ]:
# a list that contains a few kinds of bicycles
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [4]:
#to know the type of variable you are working with
type(bicycles)

list

In [5]:
print(bicycles[0])

trek

In [6]:
print(bicycles[-1])

specialized

In [9]:
#to capitalize first letter
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[1].title())

Cannondale

In [12]:
print(bicycles[0].upper())
print(bicycles[0].lower())

TREK
trek

In [17]:
friends = ["sageer", "ata", "abbalele", "jaye"]
message1= f"My best friend was {friends[0].title()}"
print(message1)

message2 = f"My close friend was {friends[2].upper()}."
print(message2)

My best friend was Sageer
My close friend was ABBALELE.

In [19]:
#working with larger list

items = ["pen","eye glasses",4.5, "book", 12,'{1,"Arewa","DS",[1,2,3]}']
print(items[1].upper())

EYE GLASSES

In [21]:
print(items[5][4])

A

#CHANGING, ADDING AND REMOVING ITEMS IN A LIST

In [22]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [23]:
type(motorcycles)

list

In [24]:
# to access the first position of the List, we need to use motorcycles[0]
# Notice the index is zero (0)
print("BEFORE UPDATE",motorcycles, sep="  ##### ")
motorcycles[0] = 'ducati' # the means, locate this position and store `ducati` in it. Just do it!!!
# Now let's print the list again
print("AFTER UPDATE",motorcycles, sep="  --->  ")

BEFORE UPDATE  ##### ['honda', 'yamaha', 'suzuki']
AFTER UPDATE  --->  ['ducati', 'yamaha', 'suzuki']

In [25]:
#Adding element to a list
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.append("lifan")
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'lifan']

In [26]:
friends = ["sageer", "ata", "abbalele", "jaye"]
friends.append("umar aboyi")
print(friends)

['sageer', 'ata', 'abbalele', 'jaye', 'umar aboyi']

In [28]:
class_Attendence = []
print(class_Attendence)
class_Attendence.append("daniel")
print(class_Attendence)

class_Attendence.append("bash")
print(class_Attendence)

class_Attendence.append("makole")
print(class_Attendence)
class_Attendence.append("sadis")
print(class_Attendence)
welcome_message = "you are highly welcome"
print(welcome_message.title())

[]
['daniel']
['daniel', 'bash']
['daniel', 'bash', 'makole']
['daniel', 'bash', 'makole', 'sadis']
You Are Highly Welcome

In [29]:
print(class_Attendence)

['daniel', 'bash', 'makole', 'sadis']

In [31]:
class_Attendence.insert(0, 'monitor')
print(class_Attendence)

['monitor', 'daniel', 'bash', 'makole', 'sadis']

#Removing items in a list

In [35]:
wives = ["amina", "khadija", "saddiqa", "aisha"]
type(wives)
del wives[0]
print(wives)

['khadija', 'saddiqa', 'aisha']

In [38]:
wives = ["amina", "khadija", "saddiqa", "aisha"]
print(f"My beloved wife was {wives.pop().title()}")

My beloved wife was Aisha

#Organizing a list

In [39]:
random_numbers = [2, 1, 10, 6, 3, 9 , 7, 8, 4, 5, 11]

print(random_numbers)

[2, 1, 10, 6, 3, 9, 7, 8, 4, 5, 11]

In [40]:
random_numbers.sort()
print(random_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [41]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [42]:
cars

['audi', 'bmw', 'subaru', 'toyota']

In [45]:
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [46]:
cars

['toyota', 'subaru', 'bmw', 'audi']

In [54]:
cars = ["toyota", "honda", "peguit"]
cars.reverse()
print(cars)

['peguit', 'honda', 'toyota']

In [53]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']